<template >
    <div>
        <ox-Table/>
    </div>
</template>
<script>
import OXTable from '@/components/oxTable.vue'
export default {
  components: {
    'ox-Table': OXTable
  }

}
</script>
<style >

</style>
