<template>
    <div>
        <h1>My Page</h1>
        <h3>{{ name }}</h3>
        <img style="width:50%;" src="@/assets/myImg.jpg">
    </div>
</template>
<script>
export default {
  props: ['name']

}
</script>
<style >

</style>
