<template>
  <div @click="clickCell" :class="{cell:true,grade:grade}">
    {{player}}
  </div>
</template>
<script>
export default {
  props: [
    'player', 'row', 'col', 'grade'
  ],
  methods: {
    clickCell (event) {
      // console.log('click' + this.row + ' ' + this.col)
      // console.log(event)
      if (this.player !== '-') return
      this.$emit('cell-click', this.row, this.col)
    }
  }

}
</script>
<style>
.cell{
  font-size: 30pt;
}
.grade{
  background-color: skyblue;
}
</style>
