<template>
    <div>
        <div v-if="finished ">
            <!-- <span v-if="winner !== '-'"><h1><em>{{winner}} Win !!!</em></h1></span>
            <span v-else>Draw !!</span> -->
            <span><h1>{{result}}</h1></span>
            <button @click="newGame">New Game</button>
        </div>
        <div v-else><h1>Turn : {{turn}}</h1> </div>

        <table>
            <tr v-for="(line,lineId) in table" :key="lineId">
                <td v-for="(item,itemId) in line" :key="itemId">
                    <OXCell :player="item"
                    :row="lineId" :col="itemId"
                    @cell-click="cellClick"
                    :grade="gradeTable[lineId][itemId]" />
                </td>
            </tr>
        </table>
    </div>
</template>
<script>
// import { intersectionTypeAnnotation } from '@babel/types'
import OXCell from './oxCell.vue'
export default {
  data () {
    return {
      count: 0,
      finished: false,
      winner: '-',
      turn: '🟢',
      table: [['-', '-', '-'],
        ['-', '-', '-'],
        ['-', '-', '-']
      ],
      gradeTable: [[false, false, false],
        [false, false, false],
        [false, false, false]
      ]
    }
  },
  computed: {
    result () {
      return this.finished && this.winner === '-' ? 'Draw' : this.turn + ' Win !!'
    }
  },
  components: {
    OXCell
  },
  methods: {
    cellClick (row, col) {
      if (this.finished) return
      //   console.log('Cell Click ' + row + ' ' + col)
      this.table[row][col] = this.turn
      this.count++
      if (this.checkWin(row, col)) {
        console.log('Win')
        this.finished = true
        this.winner = this.turn
        return
      }
      if (this.count === 9) {
        this.finished = true
        return
      }
      this.switchTurn()
    },
    switchTurn () {
      if (this.turn === '🟢') {
        this.turn = '❌'
        return
      }
      this.turn = '🟢'
    },
    randomPlayer () {
      if (Math.floor((Math.random() * 100) % 2) === 0) {
        this.turn = '🟢'
      } else {
        this.turn = '❌'
      }
    },
    checkWin (row, col) {
      if (this.checkRow(row) || this.checkCol(col) || this.checkX1() || this.checkX2()) {
        return true
      }
    },
    checkRow (row) {
      for (let col = 0; col < 3; col++) {
        if (this.table[row][col] !== this.turn) {
          return false
        }
      }

      for (let col = 0; col < 3; col++) {
        this.gradeTable[row][col] = true
      }
      return true
    },
    checkCol (col) {
      for (let row = 0; row < 3; row++) {
        if (this.table[row][col] !== this.turn) {
          return false
        }
      }
      for (let row = 0; row < 3; row++) {
        this.gradeTable[row][col] = true
      }
      return true
    },
    checkX1 () {
      for (let index = 0; index < 3; index++) {
        if (this.table[index][index] !== this.turn) {
          return false
        }
      }
      for (let index = 0; index < 3; index++) {
        this.gradeTable[index][index] = true
      }
      return true
    },
    checkX2 () {
      for (let index = 0; index < 3; index++) {
        if (this.table[index][2 - index] !== this.turn) {
          return false
        }
      }
      for (let index = 0; index < 3; index++) {
        this.gradeTable[index][2 - index] = true
      }
      return true
    },
    newGame () {
      this.count = 0
      this.finished = false
      this.winner = '-'
      this.initTable()
      this.randomPlayer()
    },
    initTable () {
      for (let row = 0; row < 3; row++) {
        for (let col = 0; col < 3; col++) {
          this.table[row][col] = '-'
        }
      }
      for (let row = 0; row < 3; row++) {
        for (let col = 0; col < 3; col++) {
          this.gradeTable[row][col] = false
        }
      }
    }
  },
  mounted () {
    this.randomPlayer()
  }

}
</script>
<style>
table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
td{
    text-align: center;
    vertical-align: middle;
    width:50pt;
    height:50pt;
}
button{
    margin-bottom: 20pt;
}
</style>
